body {
    font-family: "Arial", "Helvetica", sans-serif;
}
.header {
    text-align: center;
}

.nav {
    overflow: hidden;
    background-color: #333;
}

.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.car{
    margin: auto;
    width: 50%;
}

.addCar {
    margin: 2%;
}

.manufacturer {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

table {
    background-color: white;
}

th {
    background-color: green;
}

td {
    text-align: center;
    background-color: gray;
    
}

select {
    width: 160px;
}

.footer {
    text-align: center;
    font-size: 12px;
    background-color: #333;
    position: fixed;
    bottom: 5;
    width: 99%;
    color: white;
}